body {
    margin: 0;
    background: #1e1e2f;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.game {
    display: flex;
    height: 100vh;
}

/* SOL */
.left {
    width: 20%;
    padding: 20px;
    background: #181825;
}

#yanlislar {
    color: #ff5555;
    font-size: 22px;
    margin-bottom: 20px;
}

/* ORTA */
.center {
    width: 40%;
    text-align: center;
    padding-top: 60px;
}

.kelime {
    font-size: 36px;
    letter-spacing: 14px;
    margin: 30px 0;
}

input {
    width: 60px;
    font-size: 22px;
    text-align: center;
}

button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    background: #ff9800;
    font-weight: bold;
}

/* SAĞ */
.right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background: #111;
    border-radius: 12px;
}
